head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= title + ' - ' + appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="description", content="Story #newsHACK")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')


  link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap.css')
  link(rel='stylesheet', href='/lib/bootstrap/docs/assets/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/app.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  script(src='/lib/requirejs/require.js' data-main='/js/app')

  // ol3
  script(src='/vendor/ol3/ol.js' type="text/javascript")
  link(href="/vendor/ol3/ol.css" rel="stylesheet" media="all" type="text/css")
