#panels {
    color: #fff;
    height: 100%;
    width: 300px;
    background: rgba(0,0,0,0.5);
    padding: 1px 1rem 0 1rem;
    position: absolute;
    right: 150px;

    ol { 
       
        margin: 0;
        list-style: none;
        
        li {
            background: #7991A5;    
            margin-bottom: 6px;
            clear: left;
            overflow: auto;
            padding: .5rem;
            border-radius: 4px;

            .index {
                float: left;
                font-size: 1.3rem;
                margin-right: .5rem; 
            }

        }

        li:hover {
            background: #29ABE2;
        }
    }

}

