#panels {
    color: #fff;
    height: 100%;
    width: 300px;
    background: rgba(0,0,0,0.7);
    padding: 1px 20px 0 20px;
    position: absolute;
    right: 150px;

    ol {

        margin: 0;
        list-style: none;

        li {
            margin-bottom: 6px;
            position: relative;

            .index,
            .title {
                height: 80px;
            }

            .index {
                margin-right: .5rem; 
                width: 60px;
               
                font-size: 32px;

                background: #7991A5;    
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            
                span {
                    display: block;
                    padding: 8px;
                }
            }

            .title {
                position: absolute;
                left: 62px;
                top: 0;
                width: 238px;
                
                background: #7991A5;    
                border-radius: 4px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
        
                .wrapper {
                    display: block;
                    padding: 8px;
                }
            }

        }

        li:hover {

            .index,
            .title {
                background: #29ABE2;
            }
        }
    }

}

