#content-panel {
    .panels();
    width: 384px;
    z-index: 6000;
    right: -384px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

    .pi {
        height: 100%;
    }

    ol {
        height: 100%;
        margin: 0;
        list-style: none;
        overflow: scroll;

        h2 {
            margin: 0 0 12px;
        }
        .page {
            display: block;
            height: 100%;
        }
    }
}
#content-panel.active {
    margin-right : 408px;
}
