@import './_normalize.less';
@import './_map.less';
@import './_panels.less';
@import './_chapter_panel.less';
@import './_content_panel.less';

html,
body {
  height: 100%;
  width: 100%;
}

#media, section {
  height: 100%;
  width: 100%;
}

.app {
    height: 100%;
    background: #555;
}
